body{

margin:0;
font-family:Arial;
background:#0b0f1a;
color:white;

}

header{

background:#111a30;
padding:30px;
text-align:center;

}

nav a{

color:#00eaff;
margin:15px;
text-decoration:none;
font-weight:bold;

}

section{

padding:60px;
text-align:center;

}

h2{

color:#00eaff;

}

.profile{

width:200px;
border-radius:10px;

}

.card{

background:#18233a;
padding:20px;
margin:20px auto;
max-width:400px;
border-radius:10px;

}

.gallery img{

width:300px;
margin:15px;
border-radius:10px;

}

.skills{

display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;

}

.skills div{

background:#1e2c48;
padding:15px;
border-radius:10px;

}

footer{

background:#111a30;
padding:20px;

}
.welcome{

font-size:28px;
color:#00eaff;
margin-bottom:10px;
height:40px;
font-weight:bold;
letter-spacing:1px;

}
